* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.send-block {
    padding: 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    width: 340px;
    border: solid 2px rgb(172, 127, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: bisque;
    border-top: none;
}

.connect-block {
    padding: 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    width: 340px;
    border: solid 2px rgb(172, 127, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: bisque;
    border-bottom: none;
}

.message-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    width: 340px;
    height: 406px;
    border: solid 2px rgb(172, 127, 255);
    background-color: bisque;
    overflow-y: scroll;
    scrollbar-width: none;
}

.send-block_btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.geo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-block_btn-send,
.connect-block_btn-connect,
.connect-block_btn-disconnect {
    height: 1.5rem;
    color: bisque;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(172, 127, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
    &:hover {
        box-shadow: 0 0 3px rgb(0, 0, 0);
    }
    &:active {
        box-shadow: 0 0 4px rgb(172, 127, 255);
    }
}

.connect-block_btn-disconnect {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.send-block_input {
    width: 200px;
    height: 1.5rem;
    color: bisque;
    text-align: center;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(172, 127, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
    &:hover {
        box-shadow: 0 0 3px rgb(0, 0, 0);
    }
    &:focus {
        box-shadow: 0 0 6px rgb(221, 152, 3);
    }
}

.message-in {
    min-width: 50px;
    max-width: 220px;
    overflow-wrap: break-word;
    text-align: start;
    border-radius: 2px 8px 8px 8px;
    padding: 4px;
    margin: 2px;
    align-self: flex-start;
    background-color: lightpink;
    box-shadow: 0 0 2px rgba(0, 0, 0, .7);
}

.message-out,
.message-position {
    min-width: 50px;
    max-width: 220px;
    overflow-wrap: break-word;
    text-align: end;
    border-radius: 8px 2px 8px 8px;
    padding: 4px;
    margin: 2px;
    align-self: flex-end;
    background-color: aquamarine;
    box-shadow: 0 0 2px rgba(0, 0, 0, .7);
}
.message-position {
    color: rgb(163, 100, 22);
}

.message-notification {
    color: rgb(211, 211, 211);
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    margin: 2px;
    align-self: center;
    opacity: 0.6;
    background-color: rgb(140, 127, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, .7);
}